{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   
{% endblock %}

{% block scripts %}

<script src="{% static 'js_back/prev_next_button.js' %}"></script>

{% endblock %}


{% block styles %}

<link href="{% static 'css_back/custom.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

<!-- Tab navigation -->
<ul class="nav nav-tabs   fixed-top navbar-light bg-light justify-content-center" id="myTab" role="tablist">


<li class="nav-item">
<a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()"> Introduction (1/3): Roles</a>
</li>

<li class="nav-item">
<a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()">Introduction (2/3): The Draw</a>
</li>

<li class="nav-item">
<a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction()">The Task</a>
</li>


<li class="nav-item">
<a class="nav-link" id="part4-tab" data-toggle="tab" href="#part4" role="tab" aria-controls="part4" onclick="topFunction()">Your role</a>
</li>

</ul>
<br>
<br>


<!-- Tab content -->
<div class="tab-content" id="myTabContent">   <!-- this div tag contains all tabs within the page --> 

  <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab"> <!-- this div tag contains the first tab --> 


    <div class="card-header bg-transparent mainheader" >
      <h3 class="card-title font-weight-bold mt-3 mb-3"> Introduction (1/3): Roles </h3>
    </div>

    <br>

    <p>There are two types of participants in this activity: proposers and receivers. You'll be taking on the role of receiver.</p>
    <p>The proposers have already done their part. Earlier today, a number of them were hired via Prolific. Their job was to offer a portion of some money to a receiver. Click Next to learn how they got that money.</p>

    <br>

    <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>
  
  </div>




  <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">


    <div class="card-header bg-transparent mainheader" > 
      <h3 class="card-title font-weight-bold mt-3 mb-3"> Introduction (2/3): The Draw </h3>
    </div>
    
    <br>

    <p>Look at the picture of the box. There are {{Constants.total_balls}} balls in it. Of these, {{Constants.no_task_balls}} are No-task balls and one is a Task ball.</p>
    <br> 
    <img align=centre src="{% static 'Balls.png' %}" width="30%" />
    <br>
    <br>
    <p>When the proposer joined the activity, the computer randomly drew a ball from the box. If the computer drew one of the Task balls, the proposer had to do a maths task. If they passed, they earned {{Constants.money}}. If the computer drew one of the No-task balls, the proposer skipped the task and was simply gifted {{Constants.money}}.</p>
    <p>Since there are two Task balls, there was a two in {{Constants.total_balls}} chance the proposer would have to do the task.</p>
    <p>Click Next to find out about the maths task.</p>

    <br>

    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
    <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>

  </div>

  <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">


    <div class="card-header bg-transparent mainheader" > 
      <h3 class="card-title font-weight-bold mt-3 mb-3"> Introduction (3/3): The Maths Task </h3>
    </div>
    
    <br>

    <p>To pass the maths task, proposers had to answer three of four questions correctly within eight minutes. One of the four questions has been randomly selected and is shown below. You don't have to answer it, it's just to give you an idea of how the task worked.</p>
    <br>
    <h5> Maths Question </h5> 
    {{formfields}}


    <br>

    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
    <button onclick="topFunction()" type="button" class="nexttab btn-primary btn next">Next</button>

  </div>


  <div class="tab-pane" id="part4" role="tabpanel" aria-labelledby="part4-tab">


    <div class="card-header bg-transparent mainheader" > 
      <h3 class="card-title font-weight-bold mt-3 mb-3"> Your role </h3>
    </div>
    
    <br>

    <p>Now that you've learned about the proposers, it's time to begin your part of the activity. Your part consists of three short stages:</p>
    <ul>
    <li>In the first stage you'll learn a bit more about the proposer's offer.</li>
    <li>In the second stage you'll be matched with a proposer and shown their offer.</li>
    <li>In the third stage you'll be asked to guess whether the proposer you were matched did the maths task.</li>
  </ul>
    <p>Click the Continue button below to begin the first stage. After this page there will be no more "Back" buttons, meaning you will not be able to return to earlier pages.</p>
    <p><br></p>

    <button onclick="topFunction()" type="button" class="prevtab btn-primary btn back">Back</button>
    <button class="nexttab btn-primary btn next">Continue</button>
    

  </div>



</div>

</body>


{% endblock %}



